PermitRootLogin {{ ssh_permit_root_login }}
PasswordAuthentication {{ ssh_password_authentication }}
MaxAuthTries {{ ssh_max_auth_tries }}
PubkeyAuthentication {{ ssh_pubkey_authentication }}
PubkeyAcceptedAlgorithms {{ ssh_pubkey_accepted_algorithms }}
