global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: {{ traefik_log_level }}
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log

entryPoints:
  tunnel:
    address: ":{{ traefik_tunnel_entrypoint_port }}"
  websecure:
    address: ":{{ traefik_websecure_entrypoint_port }}"
{% if traefik_acme_domains | length > 0 %}
    http:
      tls:
        certResolver: cf
        domains:
{% for domain in traefik_acme_domains %}
          - main: "{{ domain }}"
            sans:
              - "*.{{ domain }}"
{% endfor %}
{% endif %}
{% if traefik_acme_domains | length > 0 %}

certificatesResolvers:
  cf:
    acme:
      email: {{ traefik_acme_email }}
      storage: /etc/traefik/acme/acme.json
{% if traefik_acme_use_staging %}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
{% endif %}

providers:
  docker:
    exposedByDefault: false
    network: {{ traefik_network_external }}

api:
  dashboard: false
  insecure: false
